
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NBAGraphs</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>

<body>

    <!-- Navigation Bar -->
    <div class="container" style="border-bottom-color: #23D160; border-bottom-style: solid">
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <span class="navbar-item" href="#">
                <span class="is-size-2 has-text-weight-bold" style="color: #23D160">NBAGraphs</span>
            </span>
        </div>
        <div class="navbar-end">
            <a class="navbar-item" style="color: #23D160" href="{{ url_for('index')}}">Home</a>
            <a class="navbar-item" style="color: #23D160" href="{{ url_for('players') }}">Players</a>
        </div>
    </nav>
</div>

    <!-- Content Section -->
    <section class="section">
        <div class="container">
            <div class="content">
                <h3>What is NBAGraphs?</h3>
                <p>
                    NBAGraphs is a personal project born out of my passion for basketball and programming. Is a platform to explore and visualize NBA player statistics. Dive into insightful data, follow the performance of your favorite athletes, and immerse yourself in the exciting world of professional basketball.
                </p>
                <a class="button is-success" href="{{ url_for('players') }}">Explore Stats</a>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                <strong>NBAGraphs</strong> &copy; 2024.
            </p>
        </div>
    </footer>

</body>
</html>





