<!DOCTYPE html>
<html>
<head>
    <title>Player Details</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>
    <div class="container" style="border-bottom-color: #23D160; border-bottom-style: solid">
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <span class="navbar-item" href="#">
                <span class="is-size-2 has-text-weight-bold" style="color: #23D160">NBAGraphs</span>
            </span>
        </div>
        <div class="navbar-end">
            <a class="navbar-item" style="color: #23D160" href="{{ url_for('index')}}">Home</a>
            <a class="navbar-item" style="color: #23D160" href="{{ url_for('players') }}">Players</a>
        </div>
    </nav>
</div>

    <div class="container mt-4">
        <div class="mb-2">
             <a href="{{ url_for('player_details', player_id=player_id, player_name=player_name, stat="PTS", graph="bar") }}" class="button is-success is-light">
        Puntos
        </a>
        <a href="{{ url_for('player_details', player_id=player_id, player_name=player_name, stat="TRB", graph="bar") }}"  class="button is-success   is-light">
        Rebotes
        </a>
        <a href="{{ url_for('player_details', player_id=player_id, player_name=player_name, stat="AST", graph="bar") }}"  class="button is-success   is-light">
        Asistencias
        </a>
        <a href="{{ url_for('last_five_games_stats', player_id=player_id, player_name=player_name) }}"  class="button is-success   is-light">
        Stats last 5 games
        </a>
        </div>

         <h3 class="title">{{ player_name }} stats last 5 games</h3>
        <div class="table-container">
            {{ table_html|safe }}
        </div>
        <div class="is-fullwidth">
            <figure class="image" >
                <img src="data:image/png;base64,{{ img_base64 }}" alt="Player Image">
            </figure>
        </div>
    </div>
    <footer class="footer">
            <div class="content has-text-centered">
                <p>
                    <strong>NBAGraphs</strong> &copy; 2024.
                </p>
            </div>
        </footer>
</body>
</html>