<!DOCTYPE html>
<html>
<head>
    <title>List of Players</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://bulma.io/vendor/fontawesome-free-5.15.2-web/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>
<div class="container" style="border-bottom-color: #23D160; border-bottom-style: solid">
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <span class="navbar-item" href="#">
                <span class="is-size-2 has-text-weight-bold" style="color: #23D160">NBAGraphs</span>
            </span>
        </div>
        <div class="navbar-end">
            <a class="navbar-item" style="color: #23D160" href="{{ url_for('index')}}">Home</a>
            <a class="navbar-item" style="color: #23D160" href="{{ url_for('players') }}">Players</a>
        </div>
    </nav>
</div>

<div class="container mt-4">
  <div class="columns is-mobile">
      <div class="column">
        {% for player_id, player_name in players %}
          <!-- Agrega la clase 'dropdown' al contenedor del enlace -->
          <div class="dropdown mb-2" id="{{ player_id }}">
            <div class="dropdown-trigger">
              <button class="button" aria-haspopup="true" aria-controls="dropdown-menu" onclick="handleDropdownClick('{{ player_id }}')" >
                <span>{{ player_name }}</span>
                <!-- Agrega las clases para el icono de la flecha -->
                <span class="icon is-small">
                   <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
              </button>
            </div>
            <div class="dropdown-menu" role="menu" id="dropdown-menu" >
              <div class="dropdown-content">
                  <a class="dropdown-item"  href="{{ url_for('player_details', player_id=player_id, player_name=player_name, stat="PTS", graph="bar") }}">Puntos</a>
                  <a class="dropdown-item" href="{{ url_for('player_details', player_id=player_id, player_name=player_name, stat="TRB", graph="bar") }}">Rebotes</a>
                  <a class="dropdown-item" href="{{ url_for('player_details', player_id=player_id, player_name=player_name, stat="AST", graph="bar") }}">Asistencias</a>
                  <a class="dropdown-item" href="{{ url_for('last_five_games_stats', player_id=player_id, player_name=player_name) }}">Stats Last 5 Games</a>
              </div>
            </div>
          </div >
        {% endfor %}
      </div>



  </div>
</div>
<script>
    function handleDropdownClick(playerId) {
            console.log(playerId)
            const dropdown = document.getElementById(`${playerId}`);
            dropdown.classList.toggle('is-active');

        }
</script>
</body>
<footer class="footer">
        <div class="content has-text-centered">
            <p>
                <strong>NBAGraphs</strong> &copy; 2024.
            </p>
        </div>
    </footer>
</html>
